
<!-- This footer only applies blue copyright footer -->
    <section id="trademark">            
        <p><u><strong>Blog App</strong></u> is a study project to learn more about Web Development.
                    <class="h6">&copy All rights reserved.</class></p>
                </hr>
    </section>    

    