
<div class="container">
    <section id="foot3">            
        <p><u><strong>Blog App</strong></u> is a study project to learn more about Web Development.
                    <class="h6">&copy All rights reserved.</class></p>
                </hr>
    </section>    
</div>
    