    	<section id="footer">
		<div class="container">
			<div class="row text-center text-xs-center text-sm-left text-md-left justify-content-around">

                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <div>
                        <img  id="profile" src="https://scontent-bom1-2.xx.fbcdn.net/v/t1.0-1/c139.0.160.160a/p160x160/48374029_518544838650219_9221438962269159424_n.jpg?_nc_cat=101&_nc_oc=AQmR5vFRDW9_rqQsYEncmhYYFZ004Xid2fRFKbyNpRidCDtGvi2ozc8rAsz0nVFovM8&_nc_ht=scontent-bom1-2.xx&oh=51e4dbb26409f618a5d4727742134ece&oe=5E6311D5" alt="">
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                                <ul class="list-unstyled list-inline social text-center">
                                    <li class="list-inline-item"><a href="https://www.facebook.com/sudhanshu.mohan.smk"><i class="fa fa-facebook"></i></a></li>
                                    <li class="list-inline-item"><a href="https://twitter.com/SudhanshuTheSMK"><i class="fa fa-twitter"></i></a></li>
                                    <li class="list-inline-item"><a href="https://www.instagram.com/sudhanshu_mohan_kashyap"><i class="fa fa-instagram"></i></a></li>
                                    <li class="list-inline-item"><a href="mailto:sudhanshumohan781@gmail.com" target="_blank"><i class="fa fa-envelope"></i></a></li>
                                </ul>
                            </div>
                            </hr>
                        </div>	
                        
                    </div>
                    <div class="col-md-4">
                        <div class="container">
                            <h2 class="bio">Hello!</h2>
                            <p class="bio">I'm Sudhanshu, a student and a full-stack web developer who believes in learning by doing.</p>    
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 d-flex align-items-center flex-column">
                            <h5>Quick links</h5>
                            <ul class="list-unstyled quick-links ">
                                <li><a href="/blogs"><i class="fa fa-angle-double-right"></i>Home</a></li>
                                <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About</a></li>
                                <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
                                <li><a href="https://github.com/mightyjoe781/nodejs-blog"><i class="fa fa-angle-double-right"></i>Github</a></li>
                            </ul>
                        </div>
            </div>
    </section>
    <section id="foot2">
        <div class="container">
            <p><u><strong>Blog App</strong></u> is a study project to learn more about Web Development.
                    <class="h6">&copy All rights reserved.</class>
            </p>
            </hr>
        </div>
    </section>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>