<html>
    <head>
        <title>Blog App</title>
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" />
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    </head>
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item"><i class="blogger icon"></i><a href="/">Blog Site</a></div>
                <a href="/blogs" class="item">Home</a>
                <a href="/blogs/new" class="item">New Post</a>
                <div class="right menu">
                    <% if(!currentUser){ %>
                    <div class="item"><a href="/login" class="ui inverted button">Log in</a></div>
                    <div class="item"><a href="/register" class="ui inverted button">Sign Up</a></div>
                    <% } else { %>
                    <div class="item"><a href="#" class="ui inverted button">Signed in as <%= currentUser.username %></a></div>
                    <div class="item"><a href="/logout" class="ui inverted button">Log out</a></div>
                    <% } %>
                </div>
                
            </div>
            
        </div>

        <div class="ui main text segmented container">
            <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
            <% } %>
            <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
            <% } %>
        </div>
