<% include ./partials/header %>

<div class="ui main text container segmented">
<h1>Log in!</h1>
<form action="/login" method="POST" class="ui form">
    <div class="field">
      <label>Username</label>
      <input type="text" name="username" placeholder="username">
    </div>
    <div class="field">
      <label>Password</label>
      <input type="password" name="password" placeholder="password">
    </div>
    <button class="ui button" type="submit" >Login!</button>
</form>
</div>

<% include ./partials/footer2 %> 
