body{
    background: url("/assets/images/bg-body.jpg");
    min-width: 17.77778em;
}
i.icon {
    font-size: 2em;
}
.container.main {
    margin-top: 3.0em;
}
#delete {
    display: inline;
}
#author {
	font-size: 1.3em;
}
.description {
	font-size: 1.3em;
}
.column.row {
    margin: auto;
}
.container.main.segment{
    margin-top: 1em;
    margin-bottom: 3em;
}
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.smk{
    border:none;
    background: none;
    outline: none;
    height :100%;
}

/* Footer CSS  */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
    margin-top: 2em;
    padding-top: 3em;
    padding-bottom: 1em;
    position: relative;
}

section .section-title {
    text-align: center;
    color: grey;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: grey !important;
    bottom:0;
}
#foot2 {
    text-align: center;
    padding: 0;
    margin: 0;
    background:steelblue;
    color:white;
    position: relative;
    bottom: 0;
}
#trademark {
    text-align: center;
    padding: 0;
    background:steelblue;
    color:white;
    clear: both;
    position: absolute;
    bottom : 0;
    width: 100%;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#profile{
    border-radius: 100%;
    display: block;
    margin: auto;
}
.bio{
    font-family:Eight-bit,Lucida Console,Lucida Sans Typewriter,monospace;;
    color: white;
}
h2.bio{
    font-size: 2em;
}
p.bio {
    font-size: 1.3em;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}
/* styling fot github octicon corners responsive on hover */
.github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}
@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}
@media (max-width:500px){.github-corner:hover
 .octo-arm{animation:none}
 .github-corner 
 .octo-arm{animation:octocat-wave 560ms ease-in-out}}
